.comment_cards{
    widows: 100%;
    display: flex;
    gap: 20px;
}

.comment_own{
    width: 25%;
    background-color: #FFFFFF;
    padding: 20px;
}

.comment_own h4{
    align-items: center;
    display: flex;
    gap: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}

.comment_own p{
    width: 70%;
    margin-left: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #838383;
}